---
---

<header class="pokedex-header">
  <button type="button" id="prev-pokedex">Prev</button>
  <h1 style="text-align: center;">Pokedex</h1>
  <button type="button" id="next-pokedex">Next</button>
</header>

<style>
  .pokedex-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 600px;
  }
</style>
